  


  /* header section  */


*{
    margin:0;
    padding:0;
}
 
.font-family{
   font-family: "Azeret Mono", monospace;
   font-optical-sizing: auto;
   font-weight:400;
   font-style: normal;
}
nav{
   display:flex;
   justify-content: space-between;
   padding:55px 150px;
    
}
nav > h3{
    font-size:28px;
    font-weight: 800;
   
}
.button-pri{
   box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   border-radius: 8px;

   
   opacity: 0.8;
   padding: 17px 24px 17px 24px;
   background-color: white;
   
}
.button-pri > a{
text-decoration: none;
font-size: 20px;
font-weight: 600;
color:black;

}
  /* styling banner  */
.banner{
   background-image: url('assets/Hero-bg.png');
   background-repeat: no-repeat;
   background-size: cover;

    padding:26px 220px;
}
.banner-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
  
}
.content{
    margin:0px auto;
    width: 998px;
    height: 310px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:54px 0px;
    gap:24px;
   
}
.content > h2{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 48px;
   font-weight: 800;
   line-height: 68px;
   letter-spacing: 0%;
   text-align: center;
}
.description{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%;
  
   opacity: 0.7;
   margin-bottom:10px;
   padding:0px;

   

}
.content-button{
   border-radius: 8px;
   background:black;
  
}
.content-button > a{
   color:rgb(255, 255, 255)
}
/* header section end */

/* main section start  */
main{
    padding:74px 152px 80px 148px;
    margin:0px auto ;

 
}

.section-head{

   margin-bottom:48px;
  width:100%;
   text-align: center;
   margin-top:49px;
  
  


}
.section-head-heading{
   font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
margin-bottom:24px;
}
.development
{
   
   
   margin:0px auto;
 
   padding:80px 97px;
   background-color: rgba(13, 19, 33, 0.02);
  


 
   
}
.section-btn{
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 20px;
   font-weight: 600;
   line-height: 23px;
   letter-spacing: 0%;
   text-align: center;
   padding: 12px 20px 12px 20px;
   margin: 32px 0px;
   opacity: 0.8;
   background-color: white;
   
}
.section-btn > a{
    text-decoration:none;
    color:rgb(13, 19, 33);
    opacity: 0.8;


}
.section-img{
   
}
.article-header{
   color: rgba(13, 19, 33, 0.7);
   font-family: Azeret Mono;
   font-size: 24px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0%;

  
   
}

.section-content {
    /* margin:32px 0px; */
    display:flex;
    
   justify-content: space-between;
   align-items: center;
  
   width:100%;
   padding:48px;
   gap:100px;
   background-color: rgb(255, 255, 255);

 
  
 
  
}
.article{
    padding:40px;
}


/* inspiration section start */
   
.inspiration{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-bottom:151px;
    
    
  }
  iframe{
      border-radius: 16px;
     width:1300px;
     height:600px;
      
  }
  /* inpiration section end */


  /* support section start  */

.target-content{
     display:flex;
     gap:30px;
}
.article >img{
     margin-bottom:20px;
}
.article > p{
    padding:10px 0px 30px 0px;
}
.article > a{
     text-decoration: underline;
     color:rgb(0, 0, 0);
     font-weight: bold;
}
.support-content{
display:flex;
flex-direction: column; 
justify-content: center;
align-items: center;


}
.feedback-menu{
     display:flex;
     gap:15px;

}
.feedback-btn{
    padding:17px 30px;

    border-radius: 8px;

    background: rgb(255, 255, 255);
    font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
    
}
section{
   
     margin:30px;
}
.support{
    background-color:rgba(0, 0, 0, 0.2);
     background-image: url('assets/handshake.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     padding:64px 48px;
     border-radius: 16px;
     background-blend-mode: overlay;
     
}
/* support section end  */

/* footer section start  */

input{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
width: 548px;
height: 57px;
padding:30px;
font-size: 16px;
font-weight: 400;
}
.you-tube{
     padding :20px;
     border:1px solid rgb(236, 219, 219);
     border-radius:16px;
}
.icon >a{
   padding-left:20px;
}

